<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Acesse seu Diário de Audição</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="seu@email.com" autocomplete="email">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email é obrigatório.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Formato de email inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password" autocomplete="current-password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Senha é obrigatória.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Entrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>